@import '../variables';

.event {
  height: 116px;
  background-color: $light-gray;
  color: $dark-gray;
  .event-left {
    float: left;
    margin-left: 112px;
    h2 {
      font-size: 16px;
      margin-top: 30px;
      span {
        color: $turquoise;
      }
    }
    p {
      font-size: 14px;
    }
  }
  .event-right {
    float: right;
    margin-right: 95px;
    button {
      margin-top: 40px;
      font-family: 'Museo 500';
      font-size: 14px;
      color: $white;
      background-color: $turquoise;
      border: 1px solid $turquoise;
      border-radius: 2px;
      height: 40px;
      width: 104px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 815px) {
  .event {
    .event-left {
      margin-left: 15px;
    }
    .event-right {
      margin-right: 15px;
    }
  }
}

@media (max-width: 616px) {
  .event {
    text-align: center;
    height: auto;
    padding: 20px 10px 20px 10px;
    .event-left {
      margin-left: 0;
      float: none;
      h2 {
        margin-top: 0;
      }
    }
    .event-right {
      margin-right: 0;
      float: none;
      button {
        margin-top: 10px;
      }
    }
  }
}
